<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <title>Login</title>
</head>
<body>
  <div class="container-fluid d-flex justify-content-center align-items-center p-1 pt-5">
    <div class="container bg-white shadow border border-2 rounded-5 p-3 row" style="height: 630px; width: 75%;">
      <div class="rounded-5 right  text-white col-12 col-md-6 d-flex flex-column justify-content-center align-items-center mb-2 mb-sm-0" style="background-color: #103cbe;">
        <img src="/images/cow-img.png" alt="" style="width: 250px; height: 250px;" >
        <h2 class="mt-5 text-center fw-bold" style="font-family: Arial, Helvetica, sans-serif;">Veterinary Tracker</h2>
      </div>
      <div class="bg-white rounded-5 left col-12 col-md-6 d-flex flex-column justify-content-evenly gx-md-5">
        <div class="mt-5">
          <h3>Welcome,Buddy</h3>
          <p class="mt-3">we are happy to have you</p>
        </div>
        <form>
          <div style="height: 70px;">
            <input type="text" class="form-control form-control-lg border-2" placeholder="Email ...." id="email-input">
            <div id="err-message-element" class="invalid-feedback mt-0" style="padding-top: 3px;"></div>
          </div>
          <div style="height: 70px;" class="position-relative mt-2">
            <input type="password" class="form-control form-control-lg border-2" placeholder="Password ...." style=" background-image: none;" id="password-input">
            <div id="err-message-element" class="invalid-feedback mt-0" style="padding-top: 3px;"></div>
            <i class="fa fa-eye position-absolute" style="top: 54%; right: 3%; transform: translateY(-130%); font-weight: 500; z-index: 10;" id="eye-icon"></i>
          </div>
          <div class="d-flex align-items-center mb-5 mt-2">
            <input type="checkbox" class="me-2 fs-6" id="remember-me" style="height: 17px; width: 17px;">
            <label for="remember-me" style="font-weight: 400;">Remember Me</label>
          </div>              
          <div class="pb-2">
            <button type="button" class="btn text-white fw-bold w-100 fs-5 mb-3" style="background-color: #103cbe; height: 50px;" id="login-btn"> Login</button>
            <p class="text-center fs-6 fw-normal">Don't have Account? <a href="#" class="text-decoration-none">Sign in</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/js/index.js" type="module"></script>
</body>
</html>